<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OJB</title>
</head>
<body>
   
    <a href="/jobs">Browse Jobs</a>
    <a href="/jobs/new">Add New Job</a>

    <h1>Welcome to Oscar's Job Boards app!</h1>
    <p>An app for posting and applying to Jobs</p>
</body>
</html> 